<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../src/css/main.css" />
  <link rel="icon" href="../src/assets/donspedia-logo.svg">
  <script defer src="./main.js"></script>
  <title>Selamat datang di Donspedia!</title>
</head>

<body>
  <nav>
    <div class="parent-flex-outer">
      <img class="logo-navbar" src="../src/assets/donspedia-logo.svg" alt="logo donspedia" />
      <div class="nav-links">

        <ul class="page-links">
          <li><a class="active" href="./index.html">Beranda</a></li>
          <li><a href="/booster">Booster</a></li>
        </ul>

        <!-- Ubah no telp ke wa -->
        <a class="k-kontak" href="https://api.whatsapp.com/send?phone=6285156790085">
          <button class="contact-nav">Kontak</button>
        </a>
        <!--  -->

      </div>
    </div>
  </nav>

  <section class="hero">
    <div class="flex">
      <div class="headline">
        <h1 class="heading">Selamat Datang di DONSPEDIA</h1>
        <p class="subheading">
          Tingkatkan gameplay Mobile Legends Anda ke ketinggian baru dengan
          layanan booster profesional kami. Tim pahlawan terampil kami ada di
          sini untuk memandu Anda menuju kemenangan!
        </p>
        <a href="/booster">
          <button class="cta">Booster Sekarang!</button>
        </a>
      </div>
    </div>

    <div class="flex-card-heroImg">
      <div class="hero-img">
        <img src="../src/assets/hero-img.png" alt="" class="hero" />
        <div class="stroke-1"></div>
        <div class="stroke-2"></div>
      </div>
    </div>
  </section>

  <footer>
    <div class="upper">
      <div class="donspedia">
        <img class="" src="../src/assets/donspedia-logo.svg" alt="" />
        <p>
          Penuhi Kebutuhan Gaming Mu Bersama Donspedia. Store Specialist Game
          Mobile Legends No.1 Murah , Aman , Terpercaya Dan Legal 100% (Open
          24 Jam) .
        </p>
      </div>

      <div class="upper-nav">

        <section class="two">
          <h3>Social</h3>
          <a href="">Instagram</a>
          <a href="">LinkedIn</a>
          <a href="">Facebook</a>
        </section>
      </div>
    </div>

    <div class="lower">
      <p>© 2023 DONSPEDIA. All rights reserved.</p>

      <div class="icons">
        <img class="tw" src="../src/assets/twitter.svg" alt="" />
        <img class="fb" src="../src/assets/facebook.svg" alt="" />
      </div>
    </div>
  </footer>
</body>

</html>